@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One OATs Way<br />
    Astana, Airport OPS<br />
    <abbr title="Phone">P:</abbr>
    +7 707 8569031
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Olzhas.Mukanov@air-rail.info">Olzhas.Mukanov@air-rail.info</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@air-rail.info">Marketing@air-rail.info</a>
</address>